@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: "Inter", sans-serif;
  --font-sans: "Open Sans", sans-serif;
  --color-orange: #f4742a;
  --color-blue: #150520;
  --color-neutral: #d9d9d9;
}

.responsive-px {
  @apply lg:px-32 px-8;
}

html {
  scroll-behavior: smooth !important;
  scroll-padding: 5rem;
}

.bg-gradient {
  background: linear-gradient(224deg, #1e082d 0%, #07020b 100%);
}

.service:nth-child(1),
.service:nth-child(3) {
  @apply bg-white text-secondary h-[550px] max-[700px]:h-fit;
  box-shadow: 0px 0px 37.18309783935547px 0px rgba(26, 7, 39, 0.1);
}

.service:nth-child(2) {
  @apply bg-secondary text-white h-[600px];
}
.service:nth-child(1) button,
.service:nth-child(3) button {
  @apply bg-secondary text-white;
}

.service:nth-child(2) button {
  @apply bg-white text-secondary;
}

.card:nth-child(1),
.card:nth-child(3) {
  @apply bg-white shadow-md text-secondary transition-all duration-500;
}
.card:nth-child(1):hover,
.card:nth-child(3):hover {
  @apply bg-secondary shadow-md text-white transition-all;
}
.card:nth-child(1):hover .icon,
.card:nth-child(3):hover .icon {
  @apply bg-white;
}

.card:nth-child(2) {
  @apply bg-secondary transition-all duration-500;
}
.card:nth-child(2):hover {
  @apply bg-white text-secondary shadow-md;
}

.card:nth-child(1) .icon,
.card:nth-child(3) .icon {
  @apply bg-secondary text-primary transition-all duration-500;
}

.card:nth-child(2) .icon {
  @apply bg-white text-primary transition-all duration-500;
}
.card:nth-child(2):hover .icon {
  @apply bg-secondary;
}

.sidebar {
  height: calc(100vh - 80px);
}

.worker-overlay {
  position: relative;
}

.worker-overlay .show {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s ease-in-out;
  gap: 0.5rem;
}

.worker-overlay:hover .show {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.projects {
  grid-template-rows: masonry !important;
}
